# 空行或者以#号开始的行会被忽略
# 支持标准的glob模式（shell所舒勇的简化了的正则表达式）
# # glob模式
# # 星号（*）匹配零个或多个任意字符；
# # [abc]匹配任何一个列在方括号中的字符（这个例子要么匹配一个a，要么匹配一个b，要么匹配一个c）
# # [0-9]在中括号中使用短划线来分隔两个字符表示所有在两个字符范围内的都可以分配（这个例子表示匹配0到9所有的数字）
# # 问号（？）只匹配一个任意字符；
# 以斜杠/开头的可用于进制递归匹配
# 以感叹号（！）开始的模式表示取反
data_structure/*.exe
FPGA_prj_I/*/imp/*
FPGA_prj_I/*/sim/*
FPGA_prj_II/*/imp/*
FPGA_prj_II/*/sim/*
FPGA_prj_II/class_file/*
.vscode/
*.bak
*.qip
*.txt

